# Core functionality - changes here should be rare!
/src/app.py                   @DailyInvestors
/src/backend/database.py      @DailyInvestors
/src/backend/routers/auth.py  @DailyInvestors

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DailyInvestors
